* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.nav-items {
    background: #000000;
    display: flex;
    flex-direction: row;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

}
nav a {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    /*display: inline-block;*/

}
.nav-item {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    /*display: inline-block;*/
    padding: 1em;
    font-size: 13px;
}

nav a:hover {
    background: black;
}

li:nth-child(12) {
    display: flex;
   margin-left: auto;
    align-items: center;
}
li:nth-child(4) {
    display: flex;
    width: 150px;
    border-right: white solid 1px;
    border-left: white solid 1px;
}
li:nth-child(n+5):nth-child(-n+10) {
    width: auto;
    border-right: white solid 1px;
}
li:nth-child(11) {
    width: 150px;
    border-right: white solid 1px;
}
form:focus {
    outline: none;
}
input {
    flex-grow: 2;
    border: none;
    outline: none;
}

button {
    border: 6px solid white;
    margin-right: 10px;
    /*color: white;*/
}
#b, #bb, #c {
    display: flex;
    background: white;
    color: black;
    /*border: solid black 1px;*/
}

