* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: inherit;
    align-items: center;
}
nav {
    height: 4.25em;
    background: lightgrey;

}
a:hover {
    color: blue;

}

nav a {
    text-decoration: none;
    color: black;
    /*display: inline-block;*/
}
li {
    margin: .5em;
}

    li:nth-child(6){
    margin-left: auto;
    }

.nav-itemlogo{
    font-size: 3em;
    margin: 0;
    font-family: "Montserrat";
    position: absolute;
    height: inherit;
    width: 100%;
    display: flex;
}
.nav-itemlogo a {
    margin: auto;
    padding-bottom: .2em;
    padding-top: .2em;
}
li:not(.nav-itemlogo) {
    z-index: 1;
}

